<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Practice Kana</title>
    <link rel="stylesheet" href="src/css/style.css">
    <link rel="icon" type="image/png" href="src/img/favicon.png">
</head>

<body ng-app="kanaApp">

    <container ng-controller="MainController as main">
        <button class="side-btn" ng-class="{'hidden': !sideBarHidden}">SIDEBAR</button>
        <aside ng-class="{'hidden': sideBarHidden}">
            
            <h3 class="hiragana-toggle" ng-init="removed=false" ng-click="removed=!removed">HIRAGANA</h3>
            <div class="row" ng-init="featureClass=false" ng-class="[{'active': featureClass}, {'removed': removed}]" ng-repeat="kanaRow in main.allHiragana track by $index"
                ng-click="main.toggleKanaRow(kanaRow); main.kanaRow.selected='true'; featureClass=!featureClass">
                <div class="character-container" ng-repeat="kana in kanaRow">
                    <p>{{kana.kana}}</p>
                    <p class="small-text"> {{kana.romaji}} </p>
                </div>
            </div>

            <h3 class="hiragana-toggle" ng-init="kataRemoved=true" ng-click="main.kataRemoved=!main.kataRemoved">KATAKANA</h3>
            <div class="row" ng-init="featureClass=false" ng-class="[{'active': featureClass}, {'removed': kataRemoved}]" ng-repeat="kanaRow in main.allKatakana track by $index"
                ng-click="main.toggleKanaRow(kanaRow); main.kanaRow.selected='true'; featureClass=!featureClass">
                <div class="character-container" ng-repeat="kana in kanaRow">
                    <p>{{kana.kana}}</p>
                    <p class="small-text"> {{kana.romaji}} </p>
                </div>
            </div>

        </aside>



        <main class="practice-area centered">
            <p ng-show="!main.currentKana">Select Kana To Practice</p>
            <p class="current-character">{{main.currentKana}}</p>
            <p class="error" ng-show="main.incorrectAnswer">Incorrect Answer</p>
            <input class="users-answer" type="text" ng-focus="sideBarHidden = true" ng-blur="sideBarHidden = false" ng-model="main.userAnswer"
                ng-keydown="($event.which === 13 || $event.which === 32) && main.checkAnswer()">
        </main>

    </container>

    <script src="src/js/libs/angular.min.js"></script>
    <script src="src/js/app.js"></script>
    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('sw.js').then(function() {
                return navigator.serviceWorker.ready;
            }).then(function(reg) {}).catch(function(error) {
                console.log('Service Worker error :^(', error);
            });
        }
    </script>
</body>

</html>